.menu {
  align-items: center;
  background: #ffffff;
  bottom: 0;
  display: flex;
  flex-grow: 1;
  left: 0;
  max-height: 50px;
  padding: 0 10px;
  position: fixed;
  width: 100%;
  z-index: 1;
  transition: all 0.5s;
}

.itemList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0; /* 0 ${theme.space.s}; */
  position: relative;
  width: 100%;
}

@below desktop {
  .menu {
    &::after {
      position: absolute;
      content: "";
      left: 20px;
      right: 20px;
      top: 0;
      height: 1px;
      background: #709425;
    }

    &.open {
      padding: 20px;
    }

    :global(.homepage):not(.fixed) & {
      bottom: -100px;
    }
  }
}

@from-width desktop {
  .menu {
    border-top: none;
    background: transparent;
    display: flex;
    position: relative;
    justify-content: flex-end;
    padding-left: 50px;
    transition: none;
  }

  .itemList {
    justify-content: flex-end;
    padding: 30px;
    font-size: 1vw;
  }

  .hiddenItemList {
    list-style: none;
    margin: 0;
    position: absolute;
    background: #709425;
    border: 1px solid #ecebea;
    top: 48px;
    right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px;
    border-radius: 5px;
    border-top-right-radius: 0;

    &:after {
      content: "";
      background: #709425;
      z-index: 10;
      top: -10px;
      right: -1px;
      width: 44px;
      height: 10px;
      position: absolute;
      border-left: 1px solid #ecebea;
      border-right: 1px solid #ecebea;
    }

    :global(.homepage):not(.fixed) & {
      border: 1px solid transparent;
      background: color(white alpha(-10%));
      top: 50px;

      &:after {
        top: -11px;
        border-left: 1px solid transparent;
        border-right: 1px solid transparent;
        background: color(white alpha(-10%));
      }
    }

    :global(.fixed) & {
      top: 44px;
    }
  }
}

.item,
.showItem {
  background: transparent;
  transition: all 0.5s;
  display: flex;
  align-items: center;
  padding: 10px;
  :global(a) {
    padding: 10px;
    display: flex;
    align-items: center;
  }

  :global(svg) {
    margin: 0 5px 0 0;
    opacity: 0.3;
  }
}

:global(.itemList .hideItem) {
  display: none;
}

@from-width desktop {
  .item {
    :global(a) {
      color: #ffffff;
      padding: 5px;
      transition: all 0.5s;
      border-radius: 5px;
      font-family: "Survivants";
    }

    :global(.homepage):not(.fixed) & :global(a) {
      color: #ffffff;
    }

    :global(a:hover) {
      color: #ffffff;
      background: color(white alpha(-60%));
    }

    :global(svg) {
      transition: all 0.5s;
    }

    &:hover :global(svg) {
      fill: #ffffff;
      opacity: 1;

      :global(.hero) & :global(svg) {
        fill: green;
      }
    }
  }

  .showItem {
    display: none;
  }

  .hiddenItem {
    text-align: left;
    padding: 5px;

    & :global(a.inHiddenItem) {
      color: #709425;
      &:hover {
        color: #709425;
      }
    }
  }
}
