.hero {
  align-items: center;
  color: #ffffff;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  min-height: 100vh;
  height: 100px;
  padding: 40px;
  padding-top: 100px;
}

h1 {
  :global(strong) {
    position: relative;

    &::after,
    &::before {
      content: "‹";
      color: orange;
      margin: 0 5px 0 0;
      text-shadow: 0 0 10px #2b2826;
    }
    &::after {
      content: "›";
      margin: 0 0 0 5px;
    }
  }
}

.heroButton {
  background: #709425;
  border: 0;
  border-radius: 50%;
  font-size: 1.35em;
  padding: 10px 20px;
  cursor: pointer;
  width: 80px;
  height: 80px;

  &:focus {
    outline-style: none;
    background: #709425;
  }

  :global(svg) {
    position: relative;
    top: 5px;
    fill: #ffffff;
    stroke-width: 40;
    stroke: #ffffff;
    animation-duration: 1s;
    animation-name: buttonIconMove;
    animation-iteration-count: infinite;
  }
}

@keyframes buttonIconMove {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

@from-width tablet {
  h1 {
    max-width: 90%;
  }

  button {
    font-size: 1.7em;
  }
}

@from-width desktop {
  h1 {
    max-width: 80%;
  }

  button {
    font-size: 2em;
  }
}
